/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #eef2f7, #e3e9f2);
  min-height: 100vh;
}
